{
    "port": 5000,
    "ipHeaders": ["x-real-ip"],
    "requireSessionIds": true,
    "logLevel": "Info", // Error, Warn, Info or Debug
    "logTimeFormat": "YYYY-MM-DD HH:mm:ss",
    "srv": "",
    "validation": {
        "tag": {
            "min": 1,
            "max": 30,
            "blacklist": [],
            "watchlist": []
        },
        "icon": {
            "blacklist": []
        }
    },
    "ratelimit": {
        "active": true,
        "routes": [
            {
                "method": "GET",
                "regex": "\/players\/[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}\/?",
                "max": 1000,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "^\/players\/[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}\/?$",
                "max": 5,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "\/players\/[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}/position\/?",
                "max": 5,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "\/players\/[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}/icon\/?",
                "max": 5,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "\/players\/[0-9a-fA-F]{8}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{4}-?[0-9a-fA-F]{12}/report\/?",
                "max": 5,
                "seconds": 60
            }
        ]
    },
    "bot": {
        "enabled": true,
        "token": "",
        "staff": [],
        "reports": {
            "active": true,
            "channel": "",
            "content": ""
        },
        "watchlist": {
            "active": true,
            "channel": "",
            "content": ""
        }
    }
}