{
    "port": 5000,
    "ipHeaders": ["x-real-ip"],
    "strictAuth": true,
    "logLevel": "Info", // Error, Warn, Info or Debug
    "logTimeFormat": "YYYY-MM-DD HH:mm:ss",
    "srv": "",
    "validation": {
        "tag": {
            "min": 1,
            "max": 30,
            "blacklist": [],
            "watchlist": []
        },
        "icon": {
            "blacklist": []
        }
    },
    "ratelimit": {
        "active": true,
        "routes": [
            {
                "method": "GET",
                "regex": "\/players\/\\w+\/?",
                "max": 1000,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "^\/players\/\\w+\/?$",
                "max": 5,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "\/players\/\\w+\/admin/?",
                "max": 2,
                "seconds": 30
            },
            {
                "method": "POST",
                "regex": "\/players\/\\w+/position\/?",
                "max": 5,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "\/players\/\\w+/icon\/?",
                "max": 5,
                "seconds": 60
            },
            {
                "method": "POST",
                "regex": "\/players\/\\w+/report\/?",
                "max": 5,
                "seconds": 60
            }
        ]
    },
    "roles": [
        {
            "name": "ADMIN",
            "permissions": {
                "BypassValidation": true,
                "ManageBans": true,
                "ManageRoles": true,
                "ManageTags": true,
                "ManageWatchlist": true,
                "ReportImmunity": true
            }
        },
        {
            "name": "DEVELOPER",
            "permissions": {
                "BypassValidation": true,
                "ManageBans": false,
                "ManageRoles": false,
                "ManageTags": false,
                "ManageWatchlist": false,
                "ReportImmunity": true
            }
        },
        {
            "name": "MODERATOR",
            "permissions": {
                "BypassValidation": false,
                "ManageBans": false,
                "ManageRoles": false,
                "ManageTags": false,
                "ManageWatchlist": false,
                "ReportImmunity": true
            }
        },
        {
            "name": "SUPPORTER",
            "permissions": {
                "BypassValidation": false,
                "ManageBans": false,
                "ManageRoles": false,
                "ManageTags": false,
                "ManageWatchlist": false,
                "ReportImmunity": false
            }
        }
    ],
    "bot": {
        "enabled": true,
        "token": "",
        "synced_roles": {
            "enabled": true,
            "guild": "",
            "roles": {
                "ADMIN": [],
                "DEVELOPER": [],
                "MODERATOR": [],
                "SUPPORTER": []
            }
        },
        "reports": {
            "active": true,
            "channel": "",
            "content": ""
        },
        "watchlist": {
            "active": true,
            "channel": "",
            "content": ""
        },
        "appeals": {
            "active": true,
            "channel": "",
            "content": ""
        },
        "mod_log": {
            "active": true,
            "channel": ""
        },
        "referral": {
            "active": true,
            "channel": ""
        },
        "connection": {
            "active": true,
            "role": "",
            "log": ""
        }
    }
}